/*#principal{
    background-image: url(http://66.media.tumblr.com/c4b561113fd8fb5e382292092b580b5c/tumblr_oc5dbvOFO81uzwgsuo1_400.gif) no-repeat, fixed center; 
}*/
body {
     background: linear-gradient(270deg, #87196f, #b45ba1, #f50cc3, #d784c5);   
}

.sign-in{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: transparent; 
    margin: 19px;
    border: 3px solid white;
    padding: 15px;
    border-radius: 20px;
}

.log-in{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: transparent; 
    margin: 19px;
    border: transparent;
    padding: 15px;
}

.message {
    color: blueviolet;
    background-color: white;
    text-align: center;
    margin: 5px;
    border: 3px solid white;
    padding: 30px;
    border-radius: 20px; 
    font-family: gt_walsheim, Helvetica,sans-serif!important;
    display: inline-flex;   
}



.chat{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    background-color:transparent;
    border-radius: 20px;
}

.site-title{
    color: white;
    font-weight: bold;
    font-family: gt_walsheim, Helvetica,sans-serif!important;
}

.sign-buttons{
    display: flex;
    justify-content:flex-end;
    flex-direction: row;
}
.navbar{
        display: flex;
	justify-content: space-between;

}
.header{
    display: flex;
    justify-content: space-around;

}
.reply{
    display: flex;
    flex-direction: column;
}
.reply-option{
  
    font-size: 14px;
    color: white;
    background-color: deeppink; 
    margin: 5px;
    border: 3px solid red;
    padding: 20px;
    text-align:left;
}
#but{
    display: flex;
    justify-content: center;
}
.option{
    display: flex;
    justify-content: center;
    color: white;
}
